@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

html,body{
    height: 100%;
}
body{
    font-family: 'Inter', sans-serif;
}
/*Main page*/
.main-header{
    font-size: 72px;
    font-weight: bold;
    color: #5E5E5E;
}
.main-btn{
    font-weight: bold;
    font-size: 24px;
    color: #5E5E5E;
}
.main-btn{
    color: #fff;
    background-color: rgba(180,122,234,.7);
    border-radius: 15px;
    border: 0;
}
.main-btn:hover{
    background-color: rgba(180,122,234,1);
}
/*App page*/
.app-header{
    font-size: 60px;
    font-weight: bold;
    color: #5E5E5E;
}
.main-description{
    font-weight: 500;
    font-size: 24px;
    color: #5e5e5e;
    margin-bottom: 17px;
}
.to-do-list{
    display: inline-block;
    list-style-type: none;
}
.custom-checkbox>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox>span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #1E9CEA;
  border-radius: 0.25em;
  margin-right: 0.6em;
  margin-left: 0.4em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #1E9CEA;
}
.custom-checkbox>input:not(:disabled):active+span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
.custom-checkbox>input:focus:not(:checked)+span::before {
  border-color: #80bdff;
}
.custom-checkbox>input:checked+span::before {
  border-color: #1E9CEA;
  background-color: #1E9CEA;
  background-image: url("check.svg");
}
.custom-checkbox>input:disabled+span::before {
  background-color: #e9ecef;
}
.task-remove{
    color: #5E5E5E;
    text-decoration: none;
    cursor: pointer;
}
.task-remove img{
    vertical-align: baseline;
    transform: scale(1.2);
}
.completed{
    text-decoration: line-through;
}
.add{
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50%;
    background-color: #B47AEA;
    color: #fff;
    vertical-align: baseline;
    margin-right: 0.4em;
    border-color: #B47AEA;
    padding: 0;
}
.form-control{
    display: none;
    font-weight: 700;
    font-size: 24px;
    color: #B47AEA;
    width: 67%;
    vertical-align: baseline;
    line-height: 29px;
    border: 1px #B47AEA solid;
    font-family: 'Inter', sans-serif;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.form-control:focus{
    color: #5E5E5E;
}
.form-control:active{
    color: #B47AEA;
}
.add:hover{
    color: #fff;
    background-color: #a63ef6;
}
.desc-btn{
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    color: #B47AEA;
    width: 67%;
    line-height: 29px;
    font-family: 'Inter', sans-serif;
    transition: opacity 1s ease-in-out;
    cursor: pointer;
}
.tasks-count{
    display: block;
    font-weight: 700;
    font-size: 24px;
    color: #B47AEA;
    font-family: 'Inter', sans-serif;
}
.tasks-count span{
    color: #5E5E5E;
}

@media (max-width: 768px) {
    .main-header{
        font-size: 57px;
    }
    .main-btn,
    .main-description,
    .tasks-count,
    .desc-btn{
        font-size: 16px;
    }
    .add{
        width: 47px;
        height: 47px;
        font-size: 20px;
    }
    .task-remove img{
        vertical-align: bottom;
        transform: scale(1);
    }
}