@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

html,body{
    height: 100%;
}
body{
    font-family: 'Inter', sans-serif;
}
.main-header{
    font-size: 72px;
    font-weight: bold;
    color: #5E5E5E;
    line-height: 87px;
}
.main-btn,
.main-description{
    font-weight: bold;
    font-size: 24px;
    color: #5E5E5E;
    line-height: 29px;
}
.main-btn{
    color: #fff;
    background-color: rgba(180,122,234,.7);
    border-radius: 15px;
    border: 0;
}
.main-btn:hover{
    background-color: rgba(180,122,234,1);
}
.app-header{
    font-size: 60px;
    font-weight: bold;
    color: #5E5E5E;
    line-height: 77px;
}

